body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board {
  position: relative;
  display: flex;
  justify-content: center;
}

.white {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
}

.black {
  background-color: #121d28;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clock {
  width: 600px;
  height: 220px;
  background-color: lightgray;
  position: absolute;
  display: flex;
}

.list {
  position: absolute;
  margin: 20px 0;
  display: flex;
}

.list__item {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  background-color: #e4e3e3;
  font-size: 30px;
  transition: 0.2s;
  cursor: pointer;
}

.list__item:hover:not(.list__item--selected) {
  background-color: #b1d8f2;
  transition: 0.2s;
}

.list__item--selected {
  background: #259fef;
}

.list--top {
  top: 0;
}

.list--bottom {
  bottom: 0;
}

.none {
  display: none;
}

.black-time {
  color: white;
}

.time {
  font-size: 10vw;
}

.checkbox {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(20%, -130%);
  z-index: 100;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox__custom {
  width: 72px;
  height: 39px;
  border-radius: 10px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px -10px rgba(0, 0, 0, 0.4);
}

.checkbox > input {
  display: none;
  width: 0;
}

.checkbox__custom-box {
  position: relative;
  width: 29px;
  height: 29px;
  background-color: white;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.checkbox__custom-box::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  width: 0;
  height: 0;
  border-radius: 6px;
  border: 1px solid blue;
  border-width: 0 3px 3px 0;
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.checkbox input:checked ~ .checkbox__custom .checkbox__custom-box {
  background-color: #6ec255;
  transition: all 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  transform: translateX(33px);
}

.checkbox input:checked ~ .checkbox__custom .checkbox__custom-box::after {
  opacity: 1;
  left: 11px;
  top: 5px;
  transform: rotate(45deg) scale(1);
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox > p {
  margin: 0;
  color: darkgray;
}

.checkbox:hover .checkbox__custom {
  transform: scale(1.04);
  /* background-color: hotpink; */
}

.checkbox:active .checkbox__custom {
  box-shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.4);
  transform: scale(0.95);
}
